<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_AccessRecord</h1>

        <table border="2px">
            <tr>
                <th>pk</th>
                <th>date</th>
                <th>author</th>
                <th>email</th>
            </tr>


            {% for AC in QSAC %}
                <tr>
                    <td>{{AC.pk}}</td>
                    <td>{{AC.topic_name}}</td>
                    <td>{{AC.name}}</td>
                    <td>{{AC.url}}</td>
                    
                    
                </tr>

            {% endfor %}














        </table>
    </center>
</body>
</html>